{% load i18n %}
{% block header %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        {% if user.is_authenticated %}<a href="#sidebar-toggle" class="btn btn-dark d-none d-md-block" id="sidebar-toggle"><i class="fa fa-bars"></i></a>{% endif %}
        <a class="navbar-brand" href="{% url 'assignment_home' %}">DataX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="header-nav">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">{% trans "Home" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assignment_about'%}">{% trans "About" %}</a>
            </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <form action="{% url 'set_language' %}" method="post" class="pr-md-1">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select class="form-control form-control-dark text-muted" name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <form class="form-inline mt-2 mt-md-0" action="{% url 'assignment_search' %}" method="get" id="search">
                    <input class="form-control form-control-dark mr-sm-2" type="text" placeholder="{% trans 'Search the ARs'%}" aria-label="Search" name="keyword">
                </form>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'assignment_account' %}">{{ user.username }}</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}">{% trans "Logout" %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <i class="icon-user"></i><a class="nav-link" href="{% url 'login'%}">{% trans "Login" %}</a>
                </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}