{% extends 'base.html' %}
{% load i18n %}

{% block title %}DataX{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "sidebar.html" %}
    <main role="main" class="col-12 col-md-9 col-xl-10 py-3 px-md-4 table-responsive-sm">
        <table class="table table-sm table-striped">
        <thead>
            <tr>
            <th scope="col">{% trans "Title" %}</th>
            <th scope="col">{% trans "Created Date" %}</th>
            <th scope="col">{% trans "Expire Date" %}</th>
            <th scope="col">{% trans "Earning" %}</th>
            <th scope="col">{% trans "Creator" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for a in assignments %}
            <tr>
            <td>{{ a.title }}</td>
            <td>{{ a.created_date | date:"Y-m-d"}}</td>
            <td>{{ a.expire_date | date:"Y-m-d"}}</td>
            <td>{{ a.earning }}</td>
            <td>{{ a.creator.assigned_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
    {% else %}
        <div class="mx-auto my-5 jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">DataX Project</h1>
                <p class="lead">{% trans 'Just a Blank Homepage. Login in for more information.' %}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}